<div *ngIf="!loading" class="col-sm-6 offset-sm-3 mt-2">
  <form [formGroup]="userForm">
    <button class="btn btn-success mr-3" type="button" (click)="filePicker.click()">Ajouter photo profil</button>
    <input type="file"  #filePicker (change)="onImagePick($event)">
    <div class="form-group">
      <label for="famille">Famille</label>
      <input type="text" placeholder="Indiquer sa famille..." id="famille" formControlName="famille" class="form-control">
    </div>
    <div class="image-preview" *ngIf="imagePreview">
      <img [src]="imagePreview" alt="photo profil">
    </div>
    <div class="form-group">
      <label for="age" class="mt-3">Age</label>
      <input type="number" id="age" class="form-control" formControlName="age" min="0">
    </div>
    <div class="form-group">
      <label for="race">Race</label>
      <input type="text" placeholder="Indiquer sa race..." id="race" formControlName="race" class="form-control">
    </div>
    <div class="form-group">
      <label for="nourriture">Nourriture</label>
      <input type="text" placeholder="Indiquer sa nourriture..." id="nourriture" formControlName="nourriture" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Adresse mail</label>
      <input type="email" id="email" formControlName="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" id="password" formControlName="password" class="form-control">
    </div>
    <button class="btn btn-success" (click)="onSubmit()" [disabled]="userForm.invalid">J'ajoute un ami</button>
  </form>
</div>
